{% extends 'base.html.twig' %}

{% block title %}Cyfer - Categories{% endblock %}
{% block nav %}{% include '/nav.html.twig' %}{% endblock %}

{% block body %}
    <br />
    <div class="container-fluid">
        <div class="columns is-multiline">
            <div class="column is-one-fifths">
                <div class="column is-10 is-offset-2">
                    {% include '/dashboard/sidebar.html.twig' %}
                </div>
            </div>
            <div class="column is-four-fifths">
                <div class="column is-10">
                    <div class="content">
                        <div class="columns is-multiline">
                            <div class="column is-full">
                                <div class="tabs is-paddingless-left">
                                    <ul class="is-marginless-left">
                                        <li></li>
                                        <li role="nav" class="is-active"><a><i class="fa fa-folder"></i>&nbsp;Categories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column is-full">
                                {{ form_start(categoryForm) }}
                                <h3>Add Category</h3>
                                    <div class="field">
                                        <label class="label">Title:</label>
                                        <div class="control">
                                            {{ form_widget(categoryForm.title) }}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Parent Category (optional):</label>
                                        <div class="select">
                                            {{ form_widget(categoryForm.parent) }}
                                        </div>
                                    </div>
                                    <div class="field">
                                       {{ form_widget(categoryForm.add) }}
                                    </div>
                                {{ form_end(categoryForm) }}
                                {% for flashMessage in app.session.flashbag.get('error') %}
                                    <br/>
                                    <div class="message is-warning">
                                        <div class="message-body">{{ flashMessage }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="column is-full">
                                <hr class="hr-none"/>
                            </div>
                            {% for category in get_categories.getAll() %}
                                <div class="column is-half">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <div class="columns">
                                                <div class="column is-half">
                                                    <i class="fa fa-folder" aria-hidden="true"></i>
                                                    {{ category.0.title }}
                                                </div>
                                                <div class="column is-half">
                                                    <a class="button is-small is-danger is-pulled-right" href="/staff/categories/delete/{{ category.0.id }}">delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        {% for sub in category.1 %}
                                            {% if sub %}
                                                <div class="panel-block is-block">
                                                      <span class="panel-icon">
                                                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                                                      </span>
                                                    {{ sub.title }}
                                                    <a class="button is-small is-block is-pulled-right" href="/staff/categories/delete/{{ sub.id }}">delete</a>
                                                </div>
                                            {% else %}
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            No subcategories.
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}