{% extends 'base.html.twig' %}

{% block title %}Cyfer - Categories{% endblock %}
{% block nav %}{% include '/nav.html.twig' %}{% endblock %}

{% block body %}
    <br />
    <div class="container-fluid">
        <div class="columns is-multiline">
            <div class="column is-one-fifths">
                <div class="column is-10 is-offset-2">
                    {% include '/dashboard/sidebar.html.twig' %}
                </div>
            </div>
            <div class="column is-four-fifths">
                <div class="column is-10">
                    <div class="content">
                        <div class="columns is-multiline">
                            <div class="column is-full">
                                <div class="tabs is-paddingless-left">
                                    <ul class="is-marginless-left">
                                        <li></li>
                                        <li role="nav" class="is-active"><a>Staff Picks</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column is-full">
                                {{ form_start(pickForm) }}
                                <div class="field">
                                    <div class="control">
                                        <label class="label">Listing UUID</label>
                                        {{ form_widget(pickForm.listing) }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        {{ form_widget(pickForm.add) }}
                                    </div>
                                </div>
                                {{ form_end(pickForm) }}
                                {% for flashMessage in app.session.flashbag.get('error') %}
                                    <br/>
                                    <div class="message is-warning">
                                        <div class="message-body">{{ flashMessage }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="column is-full">
                                {% for item in staffPicks %}
                                    <a href="/staff/pick/delete/{{ item.id }}/" class="button is-danger">Delete {{ item.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}