{% extends 'base.html.twig' %}

{% block title %}Cyfer - PGP{% endblock %}
{% block nav %}{% include '/nav.html.twig' %}{% endblock %}

{% block body %}
    <br />
    <div class="container-fluid">
        <div class="columns is-multiline">
            <div class="column is-one-fifths">
                <div class="column is-10 is-offset-2">
                    {% include '/dashboard/sidebar.html.twig' %}
                </div>
            </div>
            <div class="column is-four-fifths">
                <div class="column is-10">
                    <div class="content">
                        <div class="columns is-multiline">
                            <div class="column is-full">
                                <div class="tabs is-paddingless-left">
                                    <ul class="is-marginless-left">
                                        <li></li>
                                        {% if app.user.roles.0 == 'admin' %}
                                            <li role="nav" class="is-active"><a href="/staff/pgp/"><i class="fa fa-lock"></i>&nbsp;PGP</a></li>
                                        {% else %}
                                            <li role="nav" class="is-active"><a href="/pgp/"><i class="fa fa-lock"></i>&nbsp;PGP</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="column is-full">
                                {{ form_start(pgpForm) }}
                                {{  form_errors(pgpForm) }}
                                <div class="field">
                                    <div class="control">
                                        {{ form_widget(pgpForm.pgp) }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <b>Two Factor Auth:</b>
                                        {{ form_widget(pgpForm.tfa) }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        {{ form_row(pgpForm.save) }}
                                    </div>
                                </div>
                                {% for flashMessage in app.session.flashbag.get('pgpError') %}
                                    <br/>
                                    <div class="alert alert-danger text-center">
                                        <span class="text-danger">{{ flashMessage }}</span>
                                    </div>
                                {% endfor %}
                                {% for flashMessage in app.session.flashbag.get('pgpSuccess') %}
                                    <br/>
                                    <div class="alert alert-success text-center">
                                        <span class="text-success">{{ flashMessage }}</span>
                                    </div>
                                {% endfor %}
                                {{ form_end(pgpForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}